<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/public/styles/style.css"
    />
    <!-- Bootstrap CSS  -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div
      class="container vh-100 d-flex justify-content-center align-items-center"
    >
      <div class="card p-5">
        <h2 class="text-center mb-4">Weather App</h2>

        <form action="/" method="POST">
          <div class="input-group mb-3">
            <input
              type="text"
              name="city"
              class="form-control"
              placeholder="Enter city"
              required
            />

            <button
              type="submit"
              class="btn btn-primary form-submit"
            >
              Search
            </button>
          </div>
        </form>

        <% if (weather) { %>
        <div class="weather-info text-center">
          <h3><%= weather.name %></h3>
          <p>Temperature: <%= weather.main.temp %> °C</p>
          <p>Weather: <%= weather.weather[0].description %></p>
          <p>Feels Like: <%= weather.main.feels_like %> °C</p>
        </div>
        <% } else if (error) { %>
        <div class="error-message text-center">
          <p><%= error %></p>
        </div>
        <% } %>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
      integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
